<p>create-news works!</p>
<h1>
  {{data.title}}
</h1>
<h2 *ngIf="data.name">
  {{data?.name}}
  test
</h2>


<button mat-button (click)="closeDialog()">Cancel</button>
<button mat-button (click)="saveData()">Save</button>